[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"PyQt5" = "*"
opencv-python = "*"
numpy = "*"
qimage2ndarray = "*"
scipy = "*"
spectral = "*"
piexif = "*"
simplekml = "*"
scikit-image = "*"
pyqtdarktheme = "*"
pillow = "*"
utm = "*"

[dev-packages]
pyqt-distutils = "*"
qt5-tools = "*"
PyInstaller = "*"
