[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"PyQt5" = "*"
opencv-python = "*"
numpy = "*"
qimage2ndarray = "*"
scipy = "*"
spectral = "*"
piexif = "*"
simplekml = "*"
scikit-image = "*"

[dev-packages]
pyqt-distutils = "*"
qt5-tools = "*"
PyInstaller = "*"
e1839a8 = {path = ".",editable = true}
v = {editable = true,version = "*"}
