PySide6
opencv-python
numpy
qimage2ndarray
scipy==1.15.3
spectral
piexif
simplekml
scikit-image
pyqtdarktheme==2.1.0
pillow
pandas
pyarrow==20.0.0
utm
PyExifTool
reportlab
onnxruntime-gpu==1.20.1
tifffile
requests
qtawesome
shapely
fastkml>=2.0.0
gpxpy>=1.5.0