PyQt5
opencv-python
numpy
qimage2ndarray
scipy==1.15.3
spectral
piexif
simplekml
scikit-image
pyqtdarktheme-fork
qtpy
qtwidgets
pillow
pandas
pyarrow==20.0.0
utm
PyExifTool
reportlab
onnxruntime-gpu==1.20.1